extends ./destiny_layout

block content
    include ../../src/svg_mixins.pug
    body(class="bg-grey-100 t-grey-900")

        //- header
        header(class="bg-white shadow")
        div(class="main-center pad-x-1 pad-y-1-5")
            h1(class="h-1-8") #{title}

        //- top left nav
        nav(class="bg-grey-50 bd-y-1 ")
        div(class="main-center flex nav-split-1 pad-x-1 pad-y-0-5")
            a(href="./", class="t-grey-600 t-blue-600-hover") Home
            a(href="login", class="t-grey-600 t-blue-600-hover") Login
            a(href="contact", class="t-grey-600 t-blue-600-hover") Contact
            a(href="random", class="t-grey-600 t-blue-600-hover") RANDOM

        main(class="main-center pad-1")
            //- center
            section(class="bg-blue-600 t-black")
                div(class="main-center pad-x-1 pad-y-5 text-center")
                    h1(class="h-2-5") Welcome Guardian
                    p(class="p-1-7") Organise your vault, plan loadouts, and mark old guns for obliteration!  
                    div(class="mg-top-1-5 flex justify-center gap-1")
                    a(href="login", class="bd-1 bd-white pad-x-1-5 pad-y-0-7 bd-r-0-3 font-medium bg-white-hover t-blue-600-hover") Use Game Account
                    a(href="loginguest", class="bd-1 bd-white pad-x-1-5 pad-y-0-7 bd-r-0-3 font-medium bg-white-hover t-blue-600-hover") Continue as Guest

            div(class="flex h-screen bg-grey-100")
                div(class="flex-1 pad-1-5")
                    h1(class="text-2xl font-bold mb-4") Unique Users signed in
                    //-p This is the content area.
                    +ProgressBar(unique_users,false)

        footer(class="bg-white border-t mt-12")
        div(class="main-center pad-x-1 pad-y-1-5 text-sm t-grey-500 text-center") 2025 My website.